a.contact {
  text-decoration: none; 
  color: white;

}

.justified-text{
  text-align: justify;
  text-justify: newspaper;
}

.hero-container{
  background-image: url('../src/imagery/BACKGROUND_HERO.png');
  background-repeat: no-repeat;
  background-position-y: 86%;
  background-size: 75%;
}

.skills-text-container{
  border-radius: 25px;
}

.skills-image:hover{
  cursor: pointer;
}

.slider-list{
list-style: none;
display: block;
}

.tech-image{
display: inline;
}

.slider-list{
  display: flex;
  justify-content: space-around;
}

